
/* or on different lines like below */
.logo{
	width: 35%;
	margin-top: 5px;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
.nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
