/*.footer {
  text-align: center;
}

.phenomicReference {
  font-size: 0.75rem;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}*/
.footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	 .parrafo{
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: grey;
	}
